.row.compact.navbar.no-select
  .compact.column.sidebar
  .compact.column.navbar__container
    .row.expand
      .compact.column.center{ style: "margin-left: 10px" }
        = image_tag('icon.svg', class: 'navbar__logo')

