.dynamic-shape > .block {
  transition: height 0.5s, width 0.5s;
}
.dynamic-shape > div > .block {
  transition: height 0.5s, width 0.5s;
}
.selected-shape > div {
  box-shadow: 0 0 0 1px #ffffff, 0 0 0 3px var(--blue-300);
}
