<% content_for :head do %>
  <%= stylesheet_link_tag 'app', media: 'all' %>
  <link rel="stylesheet" href="https://unpkg.com/mono-icons@1.2.4/iconfont/icons.css" crossorigin="anonymous">
<% end %>

<div id= elm-main'></div>
<%= javascript_pack_tag "main" %>
