%h1.header.row{style: "font-size: 36px; margin-bottom: 15px;"}
  Contact

%h3
  = link_to 'runoteam@gmail.com', 'mailto: runoteam@gmail.com'

.row
  Please contact us with any questions, concerns, or feedback.
