%h1.header.row{style: "font-size: 36px; margin-bottom: 15px;"}
  Contact

%h3
  = link_to 'support@rhinolog.app', 'mailto: support@rhinolog.app'

.row
  Please contact us with any questions, concerns, or feedback.
