%h1.header.row{style: "font-size: 36px; margin-bottom: 15px;"}
  Privacy notice
.row
  Version 1.0 – September 2021

%h3
.description
  We’re committed to protecting and respecting your privacy.
  If you have any questions about your personal information please chat with us by emailing us at
  = link_to 'support@rhinolog.app', 'mailto: support@rhinolog.app'

%h3{style: "margin-bottom: 0"}
  The information we hold about you
%h4
  Cookie information
.description
  We use a single persistent secured httpOnly session cookie to recognise your browser and keep you logged in.
  Other cookies may be introduced in the future, and if so our Privacy policy will be updated at that time.
%h4
  Information submitted through our service or website
.description
  For example, when you sign up to the service and provide details such as your name and email
  There may be times when you give us ‘sensitive’ information, which includes things like your racial origin, political opinions, religious beliefs, trade union membership details or biometric data. We’ll only use this information in strict accordance with the law.

%h3
  How we use your information
.description
  To provide our services, we use it to:
  %ul
    %li Help us manage your account.
    %li Send you reminders for workouts you've planned.
  To meet our legal obligations, we use it to:
  %ul
    %li Prevent illegal activities like piracy and fraud.
  With your permission, we use it to:
  %ul
    %li Market and communicate our products and services where we think these will be of interest to you by email. You can always unsubscribe from receiving these if you want to by email.

%h3
  Who we share it with
.description
  We may share your personal information with:
  %ul
    %li Anyone who works for us when they need it to do their job.
    %li Anyone who you give us explicit permission to share it with.
  We’ll also share it to comply with the law; to enforce our
  = link_to 'Terms of service', terms_path
  or other agreements; or to protect the rights, property or safety of us, our users or others.

%h3
  How long we keep it
.description
  We keep your data as long as you’re using Rhino Log, and for 1 year after that to comply with the law. In some circumstances, like cases of fraud, we may keep data longer if we need to and/or the law says we have to.

%h3
  Your rights
.description
  You have a right to:
  %ul
    %li Access the personal data we hold about you, or to get a copy of it.
    %li Make us correct inaccurate data.
    %li Ask us to delete, 'block' or suppress your data, though for legal reasons we might not always be able to do it.
    %li Object to us using your data for direct marketing and in certain circumstances ‘legitimate interests’, research and statistical reasons.
    %li Withdraw any consent you’ve previously given us.
  To do so, please contact us by emailing
  = link_to 'support@rhinolog.app', 'mailto: support@rhinolog.app'

%h3
  How to make a complaint
.description
  If you have a complaint, please contact us by emailing 
  = link_to 'support@rhinolog.app', 'mailto: support@rhinolog.app'
  and we’ll do our best to fix the problem.


%h3
  Changes to this policy
.description
  We’ll post any changes we make to our privacy notice on this page and, if they’re significant changes we’ll let you know by email.
