%h1.header.row{style: "font-size: 36px; margin-bottom: 15px;"}
  Terms of Service
.row
  Version 1.0 – September 2021

%h3
  What is Rhino Log
.description
  These legal terms are between you and rhinolog.app (“we”, “our”, “us”, “Rhino Log”, “the software”) and you agree to them by using the Rhino Log service.
  You should read this document along with our
  = link_to 'Data Privacy Notice.', privacy_path

%h3
  How to contact us
.description
  Please chat with us by emailing us at
  = link_to 'support@rhinolog.app.', 'mailto: support@rhinolog.app'
  We'll contact you in English.

%h3
  Guarantees and expectations
.description
  Rhino Log makes no guarantees.
  The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement.
  In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.

%h3
  Cost
.description
  Rhino Log is a free product.

%h3
  How to make a complaint
.description
  If you have a complaint, please contact us and we'll do our best to fix the problem.
  Please see "How to contact us" above.

%h3
  Making changes to this agreement
.description
  This agreement will always be available on rhinolog.app.
  If we make changes to it, we'll tell you once we've made them.
  If you don't agree to these changes, you can close your account by pressing "Cancel my account" on your account page.
  We'll destroy any data in your account, unless we need to keep it for a reason outlined in our
  = link_to 'Privacy Policy.', privacy_path

%h3
  Closing your account
.description
  To close your account, you can press the "Cancel my account" button on your account page.
  We can close your account by giving you at least one weeks' notice.
  We may close your account immediately if we believe you've:
  %ul
    %li Broken the terms of this agreement
    %li Put us in a position where we might break the law
    %li Broken the law or attempted to break the law
    %li Given us false information at any time
    %li Been abusive to anyone at Rhino Log or a member of our community
