/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require animations
 *= require button
 *= require colors
 *= require dropdown
 *= require input
 *= require layout
 *= require modal
 *= require spinner
 *= require normalize
 */
body {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--blue-500);
  cursor: pointer;
}

hr {
  width: 100%;
  border: none;
  background-color: var(--grey-300);
  height: 1px;
}

.no-select {
  user-select: none;
  -webkit-user-select: none;
}
