// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#elm-main {
  width: 970px;

  svg {
    overflow: visible;
  }
}

.year {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  .month {
    flex-basis: 33%;
  }
}

.month .week {
  display: flex;

  .summary {
    width: 120px;
    font-size: small;
  }

  .day {
    flex: 1 1 0;
  }
}

#week-plot {
  width: 100%;
  overflow-x: scroll;
  .hours {
     width: 2400px;
    .hour {
      display: inline-block;
      width: 100px;
      margin-right: -4px;
    }
  }
  .days {
    position: absolute;
    left: 0;
    .day {
      display: block;
      height: 100px;
    }
  }
  svg {
    width: 2400px;
    height: 700px;
  }
}

.block-tooltip {
  position: absolute;
}