// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#elm-main {
  width: 970px;
  margin: auto;

  svg {
    overflow: visible;
  }
}

.year {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;

  .month {
    flex-basis: 33%;
    cursor: pointer;
    padding: 10px;
  }
}

.month .week {
  display: flex;

  .summary {
    width: 120px;
    font-size: small;
  }

  .day {
    flex: 1 1 0;
  }
}

.week {
  .hours {
     width: 912px;
     margin-left: 58px;

    .hour {
      display: inline-block;
      width: 38px;
    }
  }
  .days {
    .day {
      display: block;
      height: 100px;
      .summary {
        width: 58px;
        vertical-align: top;
        display: inline-block;
      }
      svg {
        width: 912px;
        height: 100%;
        display: inline-block;
      }
    }
  }
}

.block-tooltip {
  position: absolute;
}

.ui.simple.dropdown > .menu {
  margin-top: 0 !important;
}