// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.masthead {
  height: 100%;
  margin-top: -15px !important;

  .ui.image {
    margin-top: 2.5em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
  }

  h2 {
    font-size: 1.7em;
    font-weight: normal;
    opacity: 1;
  }
}

.masthead::before {
  background: image-url("zoom_out.gif") !important;
  background-position: center 10% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  opacity: 0.5;
  content: "";
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  width:auto;
  height:auto;
  z-index:-3;
}

.feature {
  min-height: 300px;

  h2 {
    margin-top: 2em !important;
  }

  img {
    margin-bottom: 2em;
  }
}
