= content_for :body do
  = render "devise/shared/navbar"
  .row.expand
    .sidebar
    .container
      .column.compact{ style: "margin-left: 10px; margin-right: 10px; max-width: 20rem" }
        = yield

= render template: "layouts/application"
